.main {
  margin-top: 100px;
  border-radius: 15px;
  width: 335px;
  height: 100%;
  padding: 40px 0px 25px 35px;
  background-color: hsl(216, 50%, 16%);
}

.sizing {
  width: 100%;
  height: 300px;
}

.eye {
  position: relative;
  top: -175px;
  left: 125px;
}

.vieweye {
  display: none;
}

.finalHover:hover .vieweye {
  /* !!! anu finalhover ari parent vutitebt child eyes da achens */
  display: block;
}

.finalHover:hover {
  opacity: 0.65;
}

.imageColor {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
}

.hoverMe:hover {
  color: hsl(178, 100%, 50%);
}

.hoverMe {
  font-size: 24px;
  color: hsl(0, 0%, 100%);
  width: 200px;
}

.hoverMe2:hover {
  color: hsl(178, 100%, 50%);
}

.hoverMe2 {
  color: hsl(0, 0%, 100%);
}